.header{
    height:95vh;
    background-image:linear-gradient(
        to right,
        rgba($color-primary-light, 0.803), 
        rgba($color-primary-dark, 0.803) ), 
        url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative;

    &__logo-box{
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &__logo{
        height: 3rem;
    }
    &__text-box{
    
        position: absolute;
        top:40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}