.btn{

    &:link,
    &:visited{
        text-transform: uppercase;
        text-decoration: none;
        padding:1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        font-size: $default-font-size;
        transition: all .2s;
        position: relative;
    }

    &:hover{
        transform: translateY(-.3rem);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
        &::after{
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
    &:active{
        transform: translateY(-.1rem);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    }
    &--white{
        background-color: $color-white;
        color:$color-grey-dark;
        &::after{
            background-color: $color-white;
        }
    }
    
    &::after{
        content:"";
        display: inline-block;
        height: 100%;
        width:100%;
        border-radius: 10rem;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        transition: all .4s;
    }

    &--animated{
        animation: moveInBtn 1s ease-out .75s;
        animation-fill-mode: backwards;
    }
}

.btn-text{
    &:link,
    &:visited{
        font-size: $default-font-size;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding:3px;
    }

    &:hover{
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transform: translateY(-2px);
    }

    &:active{
        box-shadow: 0 .5rem 1rem rgba($color-black, .15);
        transform: translateY(0);
    }
}