*,
*::before,
*::after {
    margin:0;
    padding: 0;
    box-sizing: inherit;
}

html{
    //this is define for is 1 rem means over the project
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}